<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <li>
        <a asp-page="/Index" class="sidebar-brand d-flex align-items-center justify-content-center">
            @* <div class="sidebar-brand-icon rotate-n-15">
            <i style="margin-right: 0.5em;" class="fas fa-laugh-wink"></i>
            </div> *@
            <div class="sidebar-brand-text mx-3">Manganexus admin</div>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a asp-page="/Pages/users" class="nav-link">
            <i class="fas fa-user"></i>
            <span>User</span>
        </a>
        <a asp-page="/Pages/user-transaction-history" class="nav-link">
            <i class="fas fa-fw fa-shopping-cart"></i>
            <span>Transaction history</span>
        </a>

        <a href="/Comics" class="nav-link">
            <i class="fas fa-fw fa-book-open"></i>
            <span>Comics</span>
        </a>

        <a href="/Categories" class="nav-link">
            <i class="fas fa-text-width"></i>
            <span>Categories</span>
        </a>

        <a asp-page="/Pages/user-comic-reviews" class="nav-link">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Comic Reviews</span>
        </a>

        <a asp-page="/Pages/user-chapter-reviews" class="nav-link">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Chapter Reviews</span>
        </a>

        <a asp-page="/Pages/user-comic-like" class="nav-link">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Manga Dashboard</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

</ul>