@using Microsoft.AspNetCore.DataProtection;
@using Microsoft.AspNetCore.Http;
@using NewClient.Services;
@inject IHttpContextAccessor _httpContextAccessor
@inject IDataProtectionProvider _dataProtectionProvider
@inject UserService _userService
@inject JWTService _JWTService

<div class="user__dropdown">

</div>

@{
	var authToken = _httpContextAccessor
			.HttpContext
			.Request
			.Cookies
			.FirstOrDefault(cookie => cookie.Key.StartsWith("authCookie"))
			.Value;

	if (Equals(authToken, null))
	{
		var token = TempData["token"];
		TempData.Keep("token");

		if (!Equals(token, null))
		{
			authToken = _httpContextAccessor
				.HttpContext
				.Session
				.GetString(token.ToString());
		}
		else
		{
			authToken = string.Empty;
		}
	}

	if (!string.IsNullOrEmpty(authToken))
	{
		var dataProtector = _dataProtectionProvider.CreateProtector("authCookie");
		authToken = dataProtector.Unprotect(authToken);
	}

	if (string.IsNullOrEmpty(authToken))
	{
		<script defer>
			let failUser = `
				<button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
					Người dùng
				</button>
				<ul class="dropdown-menu">
					<li><a class="btn btn-primary dropdown-item" href="/auth/login">Đăng nhập</a></li>
					<li><hr class="dropdown-divider"></li>
					<li><a class="btn btn-success dropdown-item" href="/auth/register">Đăng ký</a></li>
				</ul>
			`;

			let userDropDown = document.querySelector(".user__dropdown");
			let dropDown = document.createElement("div");

			dropDown.classList.add("dropdown")

			dropDown.innerHTML = failUser;

			userDropDown.appendChild(dropDown);
		</script>
	}
	else
	{
		var statusCode = await _userService.ValidateTokenAsync(authToken);

		if (statusCode == 401)
		{
			<script defer>
				let failUser = `
					<button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
						Người dùng
					</button>
					<ul class="dropdown-menu">
						<li><a class="btn btn-primary dropdown-item" href="/auth/login">Đăng nhập</a></li>
						<li><hr class="dropdown-divider"></li>
						<li><a class="btn btn-success dropdown-item" href="/auth/register">Đăng ký</a></li>
					</ul>
				`;

				let userDropDown = document.querySelector(".user__dropdown");
				let dropDown = document.createElement("div");

				dropDown.classList.add("dropdown")

				dropDown.innerHTML = failUser;

				userDropDown.appendChild(dropDown);
			</script>
		}
		else
		{
			<script defer>
				let successUser = `
					<button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
						@_JWTService.GetNameClaim(authToken)
					</button>
					<ul class="dropdown-menu">
						<li><a href="#" class="btn btn-primary dropdown-item">Cài đặt</a></li>
						<li><hr class="dropdown-divider"></li>
						<li><a class="btn btn-success dropdown-item" href="/logout">Đăng xuất</a></li>
					</ul>
				`;

				let userDropDown = document.querySelector(".user__dropdown");
				let dropDown = document.createElement("div");

				dropDown.classList.add("dropdown")

				dropDown.innerHTML = successUser;

				userDropDown.appendChild(dropDown);
			</script>
		}
	}
}