@page "/da-xac-nhan-tai-khoan"
@model NewClient.Pages.AlreadyConfirmEmailModel
@{
	Layout = "_LogoutLayout";
	ViewData["Title"] = "đã xác nhận";
}

<div class="container-fluid">
	<br />
	<br />
	<br />

	<div class="alert alert-danger" role="alert">
		Bạn đã xác nhận email này
	</div>

	<br />
	<br />
	<br />

	<div class="alert alert-info">
		Quay về trang chủ sau 5 giây hoặc nhấn vào <a class="btn btn-danger rounded" asp-page="/Index">đây</a>
	</div>
</div>