@page "/xac-nhan-thanh-cong"
@model NewClient.Pages.ConfirmEmailSuccessModel
@{
	Layout = "_LogoutLayout";
	ViewData["Title"] = "Xác nhận thành công";
}

<div class="container-fluid">
	<br />
	<br />
	<br />

	<div class="alert alert-success" role="alert">
		Xác nhận thành công
	</div>

	<br />
	<br />
	<br />

	<div class="alert alert-info">
		Quay về trang chủ sau 5 giây hoặc nhấn vào <a class="btn btn-danger rounded" asp-page="/Index">đây</a>
	</div>
</div>