@model Model.ComicModel

@{
    ViewData["Title"] = "Create";

    List<SelectListItem> Status = new List<SelectListItem>()
    {
        new SelectListItem { Value = "Đang Cập Nhật", Text = "Đang Cập Nhật" },
        new SelectListItem { Value = "Đã Ngưng", Text = "Đã Ngưng" },
        new SelectListItem { Value = "Đã Hoàn Thành", Text = "Đã Hoàn Thành" }
    };
}

<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex justify-content-between">
            <h1>Create</h1>

            <h4>ComicModel</h4>
        </div>
        <div class="card-body">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="ComicName" class="control-label"></label>
                    <input asp-for="ComicName" class="form-control" />
                    <span asp-validation-for="ComicName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ComicDescription" class="control-label"></label>
                    <input asp-for="ComicDescription" class="form-control" />
                    <span asp-validation-for="ComicDescription" class="text-danger"></span>
                </div>
                <div class="form-group" hidden>
                    <label asp-for="ComicAvatar" class="control-label"></label>
                    <input asp-for="ComicAvatar" value="avatar.jpg" class="form-control" />
                    <span asp-validation-for="ComicAvatar" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ComicStatus" class="control-label"></label>
                    <select class="form-control" asp-for="ComicStatus" asp-items="@Status">
                        <option value="">Choose option</option>
                    </select>
                    <span asp-validation-for="ComicStatus" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

@section ValidateScript {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
