@using Model
@model CategoryModel
@{
    this.ViewData["Title"] = "Admin | Category Edit";
}
@section ValidateScript {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

<div class="container pb-5">

    <!-- Edit Form -->
    <div class="row">
        <div class="col-lg-4">
            <h2>Category Form<small>    Edit</small></h2>
            <a asp-controller="Categories"
               asp-action="Index"
               class="mx-2 my-2 text-decoration-none btn btn-outline-danger d-block"
               style="font-size:20px">
                Return
            </a>
        </div>
        <div class="col-lg-8">
            <form class="form-check col-form-label" asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <!-- Id -->
                <div class="form-group">
                    <label asp-for="CategoryIdentifier" class="control-label"></label>
                    <input asp-for="CategoryIdentifier" class="form-control" readonly />
                    <span asp-validation-for="CategoryIdentifier" class="text-danger"></span>
                </div>
                <!-- Name -->
                <div class="form-group">
                    <label asp-for="CategoryName" class="control-label"></label><span style="color:red"> *</span>
                    <input asp-for="CategoryName" class="form-control" />
                    <span asp-validation-for="CategoryName" class="text-danger"></span>
                </div>
                <!-- Description -->
                <div class="form-group">
                    <label asp-for="CategoryDescription" class="control-label"></label>
                    <textarea asp-for="CategoryDescription" class="resizable_textarea form-control"></textarea>
                    <span asp-validation-for="CategoryDescription" class="text-danger"></span>
                </div>

                <div class="ln_solid"></div>
                <div class="item form-group">
                    <div class="col-md-6 col-sm-6 offset-md-3">
                        <button class="btn btn-primary" type="reset">Reset</button>
                        <input type="submit" class="btn btn-success" value="Save"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- End Edit Form -->

</div>
