@page "/admin/users-management/update/{userId:guid?}"
@model MangaManagementAPI.Views.Pages.UserUpdate
@{
    ViewData["Title"] = $"Update {@Model.User.Username}";
}

<form method="post" asp-page="user-update">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" name="Username" required>
    </div>

    <div class="form-group">
        <label for="userFullName">Full Name</label>
        <input type="text" class="form-control" id="userFullName" name="UserFullName" required>
    </div>

    <div class="form-group">
        <label for="userGender">Gender</label>
        <select class="form-control" id="userGender" name="UserGender" required>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Other">Other</option>
        </select>
    </div>

    <div class="form-group">
        <label for="userBirthday">Birthday</label>
        <input type="date" class="form-control" id="userBirthday" name="UserBirthday" required>
    </div>

    <div class="form-group">
        <label for="userPhoneNumber">Phone Number</label>
        <input type="tel" class="form-control" id="userPhoneNumber" name="UserPhoneNumber" required>
    </div>

    <div class="form-group">
        <label for="userEmail">Email</label>
        <input type="email" class="form-control" id="userEmail" name="UserEmail" required>
    </div>

    <div class="form-group">
        <label for="userAccountBalance">Account Balance</label>
        <input type="number" class="form-control" id="userAccountBalance" name="UserAccountBalance" required>
    </div>

    <div class="form-group">
        <label for="userAvatar">Avatar</label>
        <input type="text" class="form-control" id="userAvatar" name="UserAvatar" required>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

